<?xml version="1.0" encoding="utf-8"?>
<SiteSettings>
  <AdminPassword>admin</AdminPassword>
  <GuestEditModeEnabled>true</GuestEditModeEnabled>
  <DisableScripts>true</DisableScripts>
  <MailFrom>noreply@крокус74.рф</MailFrom>
  <SmtpHost>localhost</SmtpHost>
  <SmtpPort>0</SmtpPort>
  <SmtpUserName></SmtpUserName>
  <SmtpPassword></SmtpPassword>
  <SberbankRegisterUrl>https://3dsec.sberbank.ru/payment/rest/register.do</SberbankRegisterUrl>
  <SberbankStatusUrl>https://3dsec.sberbank.ru/payment/rest/getOrderStatus.do</SberbankStatusUrl>
  <SberbankUserName>100divanov2-api</SberbankUserName>
  <SberbankPassword>100divanov2</SberbankPassword>
</SiteSettings>
