@charset "utf-8";

body, html {
margin:0px;
padding:0px;
}

img {
    max-width:100%;
    height:auto;
}

a, a:visited {
    color: #71A866;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  outline: none;
  border-color: #2575ed;
  box-shadow: 0 0 0 2px rgba(37, 117, 237, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
